/* Estilos generales para body y html */
body, html {
    width: 100vw;
    height: 0vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Apilamos los elementos de arriba hacia abajo */
    background: url('fondo.jpg') center center;
    background-size: cover;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 40px 20px;  /* Más espacio arriba y abajo */
    text-align: center;
    width: 100%;
    flex: 0 1 20%; /* Esto hace que el encabezado ocupe un 20% de la altura de la pantalla */
}

/* Título del blog */
header h1 {
    margin: 0;
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para las secciones */
section {
    background-color: rgba(255, 255, 255, 0.8);  /* Fondo semitransparente */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 70%;  /* Controla el tamaño de las secciones */
    margin-left: auto; /* Centra las secciones horizontalmente */
    margin-right: auto;
}

/* Estilo para la sección "Sobre el blog" */
#sobre {
    margin-top: 20px;
}

/* Estilo para la sección "Últimos Artículos" */
#articulos {
    margin-top: 20px;
}

/* Estilo para los artículos dentro de la sección "Últimos Artículos" */
article {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

article h3 {
    margin-top: 0;
}

/* Estilo para los enlaces de botones */
.boton-redireccion {
    background-color: #FD5E4B;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.boton-redireccion:hover {
    background-color: #ff4f3b;
}

/* Estilo para las imágenes de las herramientas */
.tool-image {
    width: 200px;  /* Establece un ancho fijo para todas las imágenes */
    height: 150px; /* Establece una altura fija */
    object-fit: cover;  /* Asegura que las imágenes se ajusten y no se deformen */
    display: block;
    margin: 10px auto;  /* Centra las imágenes horizontalmente y agrega un poco de espacio */
    border-radius: 5px;  /* Bordes redondeados en las imágenes */
}

/* Estilo de los artículos dentro de la sección "Últimos Artículos" */
article {
    background-color: rgba(255, 255, 255, 0.8);  /* Fondo semitransparente */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 80%;  /* Controla el tamaño de los artículos */
    margin-left: auto; /* Centra los artículos horizontalmente */
    margin-right: auto;
}